.wrapper {
    margin: 0px;
    width: 100vw;
    height: 350px;
    background: url("http://templates.thememodern.com/engitech/images/bg-pheader.jpg");
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.pv {
    padding: 25px 95px;
}

h2 {
    font-size: 45px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    line-height: 1.2;
    color: white;
    margin-right: 20px;
    margin-top: 40px;
}
