<div class="wrapper">

</div>
<div class="pv">
    <h2>Photography & Videography</h2>
</div>




<section class="mt-4 row">
    <div class="col-sm-6 col-md-4 col-lg-3 item ">
        <a href="assets/ruturajsir/apple.jpg" data-lightbox="photos"><img class="img-fluid m-1" src="assets/ruturajsir/apple.jpg"></a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 item ">
        <a href="assets/ruturajsir/biomed.JPG" data-lightbox="photos"><img class="img-fluid m-2" src="assets/ruturajsir/biomed.JPG"></a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 item ">
        <a href="assets/ruturajsir/dagan.jpg" data-lightbox="photos"><img class="img-fluid m-2" src="assets/ruturajsir/dagan.jpg"></a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 item ">
        <a href="assets/ruturajsir/gift.JPG" data-lightbox="photos"><img class="img-fluid m-2" src="assets/ruturajsir/gift.JPG"></a>
    </div>


</section>

<section class="mt-3 row">

    <div class="col-sm-6 col-md-4 col-lg-3 item ">
        <a href="assets/ruturajsir/lux.JPG" data-lightbox="photos"><img class="img-fluid m-2" src="assets/ruturajsir/lux.JPG"></a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 item ">
        <a href="assets/ruturajsir/nilon.JPG" data-lightbox="photos"><img class="img-fluid m-2" src="assets/ruturajsir/nilon.JPG"></a>
    </div>
    <div class="col-sm- col-md-4 col-lg-3 item ">
        <a href="assets/ruturajsir/obessed.JPG" data-lightbox="photos"><img class="img-fluid m-2" src="assets/ruturajsir/obessed.JPG"></a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 item ">
        <a href="assets/ruturajsir/tricura.jpg" data-lightbox="photos"><img class="img-fluid m-2" src="assets/ruturajsir/tricura.jpg"></a>
    </div>


</section>

<section class="mt-3 row ">


    <div class="col-sm-6 col-md-4 col-lg-3 item ">
        <a href="assets/ruturajsir/model.JPG" data-lightbox="photos"><img class="img-fluid m-2" src="assets/ruturajsir/model.JPG"></a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 item ">
        <a href="assets/ruturajsir/mp1.JPG" data-lightbox="photos"><img class="img-fluid m-2" src="assets/ruturajsir/mp1.JPG"></a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 item ">
        <a href="assets/ruturajsir/mp2.jpg" data-lightbox="photos"><img class="img-fluid m-2" src="assets/ruturajsir/mp2.jpg"></a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 item ">
        <a href="assets/ruturajsir/model1.jpg" data-lightbox="photos"><img class="img-fluid m-2" src="assets/ruturajsir/model1.jpg"></a>
    </div>
</section>
