<section class="wrapper" style="display: none;">
    <div class="home">
        <div class="homecontent">
            <h1>IT Services</h1>
            <h4>We design, develop and formulate strategies for our clients <br> in order to achieve a boom in the market
            </h4>
            <div class="d-flex buttons">
                <a type="button" class="btn btn-warning" id="top">Get Started</a>
                <a type="button" class="btn btn-primary ml-2">Contact-us</a>
            </div>
        </div>
    </div>
</section>




<section class="million">
   <div class="million-child">
    <p>Crafting Stories that reach</p>
    <h1>Million Lives</h1>
    <div class="d-flex">
    <h6>through</h6> <marquee direction = "up" Scrolldelay=200 truespeed="truespeed" style="height: 20px; width: 17vw; margin-left: 10px;" > <p>Social Media Marketing</p>
        <p>Photography</p>
        <p>Videography</p>
        <p>Digital Marketing</p>
        <p>Web Developement</p>
        <p>App Developement</p>
</marquee> 
    </div>
    </div> 
</section>


<!-- <section class="newsection">
    <div class="newcontent">
        <h2>Grow Your Business</h2>
        <p>With Full-funnel <br>Solutions</p>
        <h5>Work with India's leading<br>
            <strong>Growth Marketing</strong> agency</h5>

        <div class="btn-group" role="group">
            <button class="btn btn-success btn-sm">Call us for best services</button>
            <span id="homeservices">{{services}}</span>
        </div>

    </div>

    <div>

    </div>
</section> -->

<!-- <div class="glider">

    <div class="glide-track">
        <div class="glide">
            <img src="assets/clients/ana.jpg">
        </div>
        <div class="glide">
            <img src="assets/clients/indoor.png">
        </div>
        <div class="glide">
            <img src="assets/clients/joshi.png">
        </div>

        <div class="glide">
            <img src="assets/clients/mv logo.png">
        </div>
        <div class="glide">
            <img src="assets/clients/saha.png">
        </div>
        <div class="glide">
            <img src="assets/clients/tkh.png">
        </div>
    </div>
</div> -->

<!-- 
<section class="experiencecounter">

    <div class="col-md-3">
        <div class="counterexp red">
            <div class="counter-value">40</div>+
            <div class="counter-content">
                <h3>Brands-Evolved</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="counterexp green">
            <div class="counter-value">500</div>+
            <div class="counter-content">
                <h3>Marketing Campaigns</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="counterexp blue">
            <div class="counter-value">10000</div>+
            <div class="counter-content">
                <h3>Generated Leads</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="counterexp green">
            <div class="counter-value">10000</div>+
            <div class="counter-content">
                <h3>Creative Ideas</h3>
            </div>
        </div>
    </div>
</section> -->

<section class="container need">
    <h3>Why do you need an advertising agency?</h3>
    <P>If your business is aiming to expand, but it doesn’t quite have the resources to grow, 
        then collaborating with an advertising agency can significantly affect your bottom line.</P>
</section>


<section>
    <div class="ourmainfeatures">
    <div class="expertise">  
        <p>Take advantage of our expert team <br> of experienced advertising professionals, <br>
            who will bring a unique perspective to <br> your  brand with a range of fresh ideas, <br>
            which will give you a highly diversified<br> marketing approach.</p>
    </div>
    <canvas id="canv" width="600" height="250" style="margin-top: 60px;"></canvas>
    <div class="valuable-time">
        <h2 style="color: rgb(255, 255, 255);">Save valuable time</h2>
        <p>The agency will focus upon a larger <br> portion of your branding project, 
            to get <br> you the best results, while you can <br> save & invest 
            time focusing on your daily <br>business tasks, without taking much <br> effort to grow your brand.</p>
    </div>
    <div class="save-money">
        <h2 style="color: rgb(255, 255, 255);">Save money</h2>
        <p>the advertising agencies aren’t cheap <br>to invest,  but you’ll be benefitted by<br> hiring an agency, 
            as we get cheaper ad <br> placement fees as our network gives us <br> discounts, 
            which wouldn’t be available <br> to you if you enquire directly.  Our<br> experience are more likely 
            to pay off, <br>meaning  you’re more likely to get a<br> higher return for your investment.
            </p>
    </div>
    <div class="cohesive">
        <h2 style="color: rgb(255, 255, 255);">Cohesive services </h2>
        <p>our agency is a cluster of multiple <br>advertising services, as we 
            offer everything what<br> you ask for directly or indirectly related <br>to adverts, 
            that is a lotmore likely <br>to offer, across a range of media and <br>channels. 
            This is much better than<br> having freelancers dovarious,<br> detached  pieces of
            work at<br> different points of time.
        </p>          
    </div>
    </div>
</section>







<section class="skillscounter">
    <div class="col-md-3">
        <div class="counter-value">40</div>+
        <div class="counter-content">
            <h3>Brands-Evolved</h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="counter-value">500</div>+
        <div class="counter-content">
            <h3>Marketing Campaigns</h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="counter-value">10000</div>+
        <div class="counter-content">
            <h3>Generated Leads</h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="counter-value">10000</div>+
        <div class="counter-content">
            <h3>Creative Ideas</h3>
        </div>
    </div>
</section>
























<section class="allproducts">

    <p>Our Services</p>
    <h3 id="h3">Preparing for your success, we <br>provide truly IT solutions</h3>
    <div class="parenthold">
        <div class="productholder" data-aos="fade-right" data-aos-duration="2000">
            <div class="ph1">
                <div class="ph1data">
                    <span class="material-icons" style="color: orange;">
                        check_circle
                    </span>
                    <h3>Cloud based services & 40 GB free space</h3>
                </div>
                <p>We’re full service which means we’ve got you <br> covered on design and content right.</p>
            </div>
            <div class="ph1">
                <div class="ph1data">
                    <span class="material-icons " style="color: orange;">
                        check_circle
                    </span>
                    <h3>Responsive & Mobile friendly design</h3>
                </div>
                <p>We’re full service which means we’ve got you <br> covered on design and content right.</p>
            </div>
            <button class="btn btn-warning" style="color: white;">All Products</button>
        </div>
        <div class="ph2" data-aos="fade-left" data-aos-duration="2000">
            <img src="https://motivoweb.com/teba/wp-content/uploads/2020/08/service16.png">
        </div>
    </div>
</section>

<section class="marketing">
    <div class="marketimage" data-aos="fade-up" data-aos-duration="3000">
        <img src="https://t4.ftcdn.net/jpg/02/63/64/77/360_F_263647719_UZnkzYmgWAea0zOwwSzl6VyZHdtDdpPx.jpg">
    </div>

    <div id="dflex">
        <div class="marketholder" data-aos="flip-down" data-aos-duration="2000">

            <div class="marketcards">
                <div class="card">
                    <div class="icondiv" style="background-color: rgb(78, 134, 255);"> <i class="material-icons nav-icon">app_settings_alt</i></div>


                    <div class="card-data">
                        <h3>Account Manager</h3>
                        <p>Never write an advertisement which you wouldn’t want your family to read wouldn’t</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="marketholder" data-aos="flip-down" data-aos-duration="2000">

            <div class="marketcards">
                <div class="card">
                    <div class="icondiv" style="background-color: rgb(55, 10, 82);"> <i class="material-icons nav-icon">app_settings_alt</i></div>


                    <div class="card-data">
                        <h3>Marketing Plan</h3>
                        <p>Never write an advertisement which you wouldn’t want your family to read wouldn’t</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="marketholder" data-aos="flip-down" data-aos-duration="2000">

            <div class="marketcards">
                <div class="card">
                    <div class="icondiv"> <i class="material-icons nav-icon">app_settings_alt</i></div>


                    <div class="card-data">
                        <h3>Agency Training</h3>
                        <p>Never write an advertisement which you wouldn’t want your family to read wouldn’t</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="whatwedo">
    <p id="ptag">What We Do</p>
    <div class="parentwwe">
        <div class="easysolution" data-aos="fade-right" data-aos-duration="1500">
            <h3>Easy solutions for all difficult IT <br>problems, keep your business <br>safe & ensure high availability.</h3>
        </div>
        <div class="easysolution" data-aos="fade-left" data-aos-duration="1500">
            <h5>Our vertical solutions expertise allows your business to streamline <br>workflow, and increase productivity. No matter the business, Teba <br>has you covered with industry compliant solutions, customized <br>to your company’s specific needs.</h5>
        </div>
    </div>

    <div class="wwdboxes">
        <div class="card">
            <span class="material-icons" style="color: orange;">
                gavel
                </span>
            <h2>Quality Assurance</h2>
            <p>We assure the best quality which leads to your growth and profit.</p>
        </div>
        <div class="card">
            <span class="material-icons" style="color: aqua;">
                access_time
                </span>
            <h2>On time deliverables.</h2>
            <p> All our services are delivered in a timely manner with effectiveness.</p>
        </div>
        <div class="card">
            <span class="material-icons" style="color: rgb(107, 183, 253);">
                groups
                </span>
            <h2>Experienced team</h2>
            <p>Our experienced team is ready to provide accurate and best results.</p>
        </div>
        <div class="card">
            <span class="material-icons" style="color: blueviolet;">
                verified_user
                </span>
            <h2>Certified professionals.</h2>
            <p>Our team involves qualified professionals applying their skills at work.</p>
        </div>
        <div class="card">
            <span class="material-icons" style="color: crimson
            ;">
                sentiment_satisfied
                </span>
            <h2>Customer satisfaction.</h2>
            <p>We provide all our services with efficiency To make our customers happy.
            </p>
        </div>
    </div>
    <p class="managed">Our Managed IT services will help you succeed. Let’s get started</p>

</section>
<br>
<br>
<br>
<br>
<section class="container team">
    <p>Our Team</p>
    <h3>Team Of Experts</h3>
    <h5>We love what we do and we do it with passion. We value the experimental the
        <br> reformation of the message, and the smart incentives.</h5>

</section>
<section class="teammain">
    <div class="container teamholder">
        <div class="cards" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="Imgbx">
                <img src="https://www.xtrafondos.com/wallpapers/vertical/vin-diesel-como-dominic-toretto-en-rapidos-y-furiosos-9-7621.jpg">
            </div>
            <div class="content">
                <div class="details">
                    <h2>John Doe<span>Senior Designer</span></h2>
                    <ul class="social_icons">
                        <li><a><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cards" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="Imgbx">
                <img src="https://media1.popsugar-assets.com/files/thumbor/L4PizNt5_zpnE3mTiwQzCvVzmWA/1053x0:3000x1947/fit-in/550x550/filters:format_auto-!!-:strip_icc-!!-/2021/06/25/762/n/1922283/712a49fc60d60fa81a6051.90994882_/i/how-is-paul-walker-honored-in-f9-fast-saga.jpg">
            </div>
            <div class="content">
                <div class="details">
                    <h2>John Doe<span>Senior Designer</span></h2>
                    <ul class="social_icons">
                        <li><a><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cards" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="Imgbx">
                <img src="https://www.onthisday.com/images/people/jason-statham-medium.jpg">
            </div>
            <div class="content">
                <div class="details">
                    <h2>John Doe<span>Senior Designer</span></h2>
                    <ul class="social_icons">
                        <li><a><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cards" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="Imgbx">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSv7jy7n5WaoGQp5RBNAWok4Dx4g_K-pYrBKoTeH-GQUxwf2Z0YXiy-TL9pPpDjGtfmpU&usqp=CAU">
            </div>
            <div class="content">
                <div class="details">
                    <h2>John Doe<span>Senior Designer</span></h2>
                    <ul class="social_icons">
                        <li><a><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container counter">
    <p>Managed IT Services</p>
    <h3>Preparing for your success, we<br> provide truly IT solutions.</h3>

</section>

<section class=" container countermain">
    <div class="countermaincontent">
        <div data-aos="fade-up" data-aos-duration="2000">
            <h4>Trusted by the world’s best organizations, it has been delivering smiles to hundreds of IT advisors, developers, users, and business owners. Easy solutions for all difficult IT problems to ensure high availability.</h4>
            <div class="workingcounter">
                <ul class="d-flex">
                    <h2 class="counter1">275</h2><a><span class="material-icons">
                add
                </span></a></ul>
                <h2 class="customer">Customer Satisfaction</h2>
                <hr style="width:400px">
                <h3>Preparing for your success we provide<br> truly IT Solutions</h3>
                <ul class="d-flex">
                    <h2 class="counter1">345</h2><a><span class="material-icons">
                    add
                    </span></a></ul>
                <h2 class="customer">Projects Completed</h2>
                <hr style="width:400px">
                <h3>Years Of Experience In The IT &<br> Software Industry</h3>
            </div>
        </div>
        <div class="counterimage" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
            <img src="https://motivoweb.com/teba/wp-content/uploads/2020/08/service18.png">
        </div>
    </div>
</section>



<section class="testimonials">
    <div class="container">
        <h4>Testimonials</h4>
        <h2>What Our Customers Have to Say</h2>
        <p> Know what our esteemed clients/customers have to say about us in the area of POS<br> management, systems, software, & customized tools.</p>
    </div>


    <div class="carouselcards">
        <owl-carousel-o [options]="carouselOptions" style="width: 100%;">
            <ng-template carouselSlide>
                <div class="cards">
                    <div class="stars">
                        <span class="material-icons">
                    star_rate
                    </span>
                        <span class="material-icons">
                        star_rate
                        </span>
                        <span class="material-icons">
                            star_rate
                            </span>
                        <span class="material-icons">
                                star_rate
                                </span>
                        <span class="material-icons">
                                    star_rate
                                    </span>
                    </div>
                    <h3>Support & <br>Management</h3>
                    <p>We Have Choosen to work extensively with socioad pvt ltd becoz of their quality services ,including their On-Job-Training Designing</p>
                    <h2>Namrata Pokarna</h2>
                    <p id="n">Designer</p>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="cards">
                    <div class="stars">
                        <span class="material-icons">
                    star_rate
                    </span>
                        <span class="material-icons">
                        star_rate
                        </span>
                        <span class="material-icons">
                            star_rate
                            </span>
                        <span class="material-icons">
                                star_rate
                                </span>
                        <span class="material-icons">
                                    star_rate
                                    </span>
                    </div>
                    <h3>Support & <br>Management</h3>
                    <p>We Have Choosen to work extensively with socioad pvt ltd becoz of their quality services ,including their On-Job-Training Designing</p>
                    <h2>Namrata Pokarna</h2>
                    <p id="n">Designer</p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="cards">
                    <div class="stars">
                        <span class="material-icons">
                    star_rate
                    </span>
                        <span class="material-icons">
                        star_rate
                        </span>
                        <span class="material-icons">
                            star_rate
                            </span>
                        <span class="material-icons">
                                star_rate
                                </span>
                        <span class="material-icons">
                                    star_rate
                                    </span>
                    </div>
                    <h3>Support & <br>Management</h3>
                    <p>We Have Choosen to work extensively with socioad pvt ltd becoz of their quality services ,including their On-Job-Training Designing</p>
                    <h2>Namrata Pokarna</h2>
                    <p id="n">Designer</p>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</section>



<!-- <button (click)="imagechange()">click</button> -->


<!--
<div class="fluid">
    <div class="spinnerbox">
        <circle-progress [percent]="90" [radius]="100" [outerStrokeWidth]="10" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#338AF2'" [animation]="true" [animationDuration]="1000">
        </circle-progress>
        <h3>Graphic Designing</h3>
    </div>



    <div class="spinnerbox">
        <circle-progress [percent]="92" [radius]="100" [outerStrokeWidth]="10" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#338AF2'" [animation]="true" [animationDuration]="1000">
        </circle-progress>
        <h3>Content Writing</h3>
    </div>

    <div class="spinnerbox">
        <circle-progress [percent]="95" [radius]="100" [outerStrokeWidth]="10" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#338AF2'" [animation]="true" [animationDuration]="1000">
        </circle-progress>
        <h3>Marketing Consultancy</h3>
    </div>

    <div class="spinnerbox">
        <circle-progress [percent]="97" [radius]="100" [outerStrokeWidth]="10" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#338AF2'" [animation]="true" [animationDuration]="1000">
        </circle-progress>
        <h3>Campaign Strategy</h3>
    </div>

    <div class="spinnerbox">
        <circle-progress [percent]="90" [radius]="100" [outerStrokeWidth]="10" [innerStrokeWidth]="8"
            [outerStrokeColor]="'darkgreen'" [innerStrokeColor]="'black'" [animation]="true" [animationDuration]="1000">
        </circle-progress>
        <h3>Targeted Results</h3>
    </div>


</div> -->

<section>

</section>

<nav class="nav row">
    <owl-carousel-o [options]="customOptions" style="width: 100%;">
        <ng-template style="width: 0px;" class="mobileview" carouselSlide>
            <a href="#" class="nav-link">
                <i class="material-icons nav-icon">dashboard</i>
                <span class="nav-text">Home</span>
            </a>
        </ng-template>
        <ng-template style="width: 0px;" class="mobileview" carouselSlide>
            <a href="#" class="nav-link" routerLink="/about">
                <i class="material-icons nav-icon">people</i>
                <span class="nav-text">About</span>
            </a>
        </ng-template>
        <ng-template class="mobileview" carouselSlide>
            <a href="/video" class="nav-link">
                <i class="material-icons nav-icon">miscellaneous_services</i>
                <span class="nav-text">Services</span>
            </a>
        </ng-template>
        <ng-template class="mobileview" carouselSlide>
            <a href="#" class="nav-link">
                <i class="material-icons nav-icon">rss_feed</i>
                <span class="nav-text">Blog</span>
            </a>
        </ng-template>
        <ng-template class="mobileview" carouselSlide>
            <a href="#" class="nav-link">
                <i class="material-icons nav-icon"><span class="material-icons">
                        card_giftcard
                    </span></i>
                <span class="nav-text">Rewards</span>
            </a>
        </ng-template>
        <ng-template class="mobileview" carouselSlide>
            <a href="#" class="nav-link">
                <i class="material-icons nav-icon">branding_watermark</i>
                <span class="nav-text">Franchise</span>
            </a>
        </ng-template>
        <ng-template class="mobileview" carouselSlide>
            <a href="#" class="nav-link">
                <i class="material-icons nav-icon"><span class="material-icons">
                        work
                    </span></i>
                <span class="nav-text">Carrers</span>
            </a>
        </ng-template>
        <ng-template class="mobileview" carouselSlide>
            <a href="#" class="nav-link" routerLink="/contact">
                <i class="material-icons nav-icon">phone</i>
                <span class="nav-text">Contact</span>
            </a>
        </ng-template>
    </owl-carousel-o>

</nav>
