<div class="wrapper">

</div>
<div class="webheading">
    <h1>WEBSITE DEVELOPEMENT SERVICES AND MAINTAINENCE</h1>
</div>



<section class="mobile-app">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 align-self-center">
                <div class="app-benefits-left">
                    <div class="icon-box">
                        <span class="material-icons">
            laptop_chromebook
            </span>
                    </div>
                    <div class="content-box">
                        <h5>Website Service</h5>
                        <p>51% of smartphone users have discovered a new company or product.</p>
                    </div>
                </div>
                <div class="app-benefits-left ml-0 mr-0">
                    <div class="icon-box">
                        <span class="material-icons">
                      language
                      </span>
                    </div>
                    <div class="content-box">
                        <h5>Internet Of Things</h5>
                        <p>Move your SaaS products to mobile, Companies with a professional mobile.</p>
                    </div>
                </div>
                <div class="app-benefits-left">
                    <div class="icon-box">
                        <span class="material-icons">
                      casino
                      </span>
                    </div>
                    <div class="content-box">
                        <h5>Gambling & Betting</h5>
                        <p>Develop a custom Web app to thrive in a mobile market worth over $100.</p>
                    </div>
                </div>
            </div>
            <div class="middle">
                <img src="assets/middle.png">
            </div>
            <div class="col-lg-4 align-self-center">
                <div class="app-benefits-right">
                    <div class="icon-box">
                        <span class="material-icons">
          laptop_chromebook
          </span>
                    </div>
                    <div class="content-box">
                        <h5>Social Media</h5>
                        <p>80% of time users spend in social mediafrom their mobile devices.</p>
                    </div>
                </div>
                <div class="app-benefits-right ml-0 mr-0">
                    <div class="icon-box">
                        <span class="material-icons">
                    language
                    </span>
                    </div>
                    <div class="content-box">
                        <h5>Business Management</h5>
                        <p>65% of sales representatives have achieved their quotas by adopting.</p>
                    </div>
                </div>
                <div class="app-benefits-right">
                    <div class="icon-box">
                        <span class="material-icons">
                    casino
                    </span>
                    </div>
                    <div class="content-box">
                        <h5>Trading Systems</h5>
                        <p>We provide top-tier mobile app development services for brokers.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="webcontent">
    <div class="container-baner">
        <div class="text">

            <h1 class="title" style="margin-bottom: 20px;">Thrive with Our<br> Top Web Experts</h1>
            <p>Construct monumental mobile solutions, from brainstorming to post-delivery support with the dedicated mobile team. We serve you with an experienced, scalable, and well-balanced talent pool to support your tech-based growth goals, for long-term
                and short-term projects. Leave all the nitty-gritty recruiting and retention to us: Skelia will source and work the best mobile team to guarantee your mobile project will shine. </p>
            <p><a class="link-page" href="/contact" style="min-width: 186px;">contact us</a>
            </p>
        </div>

        <img src="assets/webapp.jpg">
    </div>
</div>


<div class="webservices">
    <img src="assets/webservices.jpg">
</div>

<div class="whysocio">
    <h2>Benefits of Hiring Socioad Pvt Ltd for Website Design Services</h2>
    <li> We have an excellent team of young professionals</li>
    <li> Our expert designers and developers look into industry specific requirements and accordingly get the site ready</li>
    <li>We assure to get the project ready within timeline. We provide best assistance to our clients even after its handover</li>
    <li>Our website design and development is cost-effective, and suits to every pocket</li>

</div>


<div class="onlyboxes">
    <div class="boxes">
        <div class="row row-cols-2">
            <div class="col">
                <img src="assets/web1.jpg">
            </div>
            <div class="col">
                <div class="box1">
                    <h4>Website Development</h4>
                    <h3>Customized applications for enterprises using existing and emerging technologies that work well with any software portfolio to meet specific business requirements.</h3>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="onlyboxes">
    <div class="boxes">
        <div class="row row-cols-2">
            <div class="col">
                <div class="box2">
                    <h4>Website Maintenance</h4>
                    <h3>Services that help you balance cost, complexity, and capacity, resulting in a lower cost of ownership, higher service levels, and new operational efficiencies.</h3>
                </div>

            </div>
            <div class="col" id="col2">
                <img src="assets/web2.jpg">
            </div>
        </div>

    </div>
</div>

<div class="onlyboxes">
    <div class="boxes">
        <div class="row row-cols-2">
            <div class="col">
                <img src="assets/web3.jpg" id="lastimg">
            </div>
            <div class="col">
                <div class="box1">
                    <h4>Website Integration in Enterprises</h4>
                    <h3>This includes application integration, B2B, Business Activity Monitoring, Business Process Management.</h3>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="value">
    <h3>Value Proposition</h3>
    <li>Cost-effective and highly reliable service</li>
    <li>Customized services with additional skill sets, standards, best practices and improvements</li>
    <li>Clover Infotech’s Application Development and Maintenance Services deliver a combination of flexibility, reliability, security, and performance that organizations demand</li>
    <li>We work closely with our customers during the entire application development cycle. This helps us to be sensitive to changing business requirements and map them into the application workflow</li>
</div>
